/*--------------------reset css------------------------------------------*/
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-image: url("../img/bg.jpg");
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  justify-content: space-around;
}
/*game-title*/
.gameTitle {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
  color: white;
  margin: 10px 0px;
  display: flex;
  height: 15vh;
  justify-content: space-between;
}
.back-button {
  display: none;
  align-items: center;
}
.back-button button {
  width: 100px;
  height: 75px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: none;
}
.back-button button a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
.gameTitle .title {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.gameTitle .title h1 {
  margin-left: 60px;
  background: rgba(240, 240, 240, 0.7);
  padding: 25px;
  border-radius: 15px;
  font-size: 2.5rem;
  font-weight: bolder;
}
.sound-control-div {
  display: none;
  align-items: center;
  cursor: pointer;
  width: 10%;
}
.gameTitle .sound-control-div .icone {
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.sound-control-div i {
  color: white;
  font-size: 1.5rem;
}
.sound-bar-container {
  width: 100px;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}
.sound-bar-container .controller {
  position: absolute;
  background-color: white;
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -5px;
  left: 0px;
}
.sound-bar-container .sound-bar {
  position: absolute;
  background-color: white;
  height: 7px;
  width: 0%;
}
/*preview*/
.preview {
  width: 40%;
  padding: 10px;
}
.preview-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.preview-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.preview-title h2 {
  color: white;
}
.preview-body {
  display: flex;
  padding: 5px;
}
.preview-text {
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.preview-text p {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 15px;
  width: 90%;
  margin: 5px;
}
.preview-picture {
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.picture-container {
  overflow: hidden;
  width: 200;
  height: 400;
  border-radius: 15px;
}
.picture-container img {
  width: 100%;
  height: 100%;
}
/* selected-container*/
.select-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px;
  height: 70vh;
}
.select-container .title {
  display: flex;
  justify-content: center;
  color: white;
  height: 10%;
  align-items: center;
}
.select-container .title h2 {
  color: white;
}
.caractere-container {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
  height: 200px;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.caractere,
.caractereS {
  width: 100px;
  height: 100px;
}
.caractere img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.selected {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
  margin-top: 10px;
}
.selectedTitle {
  display: flex;
  align-items: center;
  color: white;
}
.selectedTitle p {
  font-weight: bold;
  font-size: 1.5rem;
}
.caractereS img {
  width: 100%;
  height: 100%;
}
.go {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}
.go button {
  width: 100px;
  height: 75px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: none;
}
.go button a {
  color: white;
  font-size: 1.5rem;
  padding: 15px;
  text-decoration: none;
}
/*footer*/
footer {
  height: 10vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer a {
  font-size: 1.2rem;
  color: white;
}
/*players-container style*/
.players-container {
  display: none;
  width: 30%;
  height: 70vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
}
.histo-container {
  width: 20%;
  height: 70vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  display: none;
}
.histo-card {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.action {
  width: 80%;
}
.action-div {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}
.histo-card .title {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  width: 80%;
  text-align: center;
}
.players-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.players-card .title {
  width: 100%;
  height: 15%;
  color: white;
  text-align: center;
}
.players-card .players-body {
  height: 70%;
  display: flex;
  justify-content: space-around;
}
.players-card .players-button {
  display: flex;
  justify-content: space-around;
  height: 15%;
}

.players-carac {
  width: 50%;
  display: flex;
  align-items: center;
  color: white;
}
.players-carac .life-bar-container {
  width: 200px;
  height: 10px;
  border: solid 1px black;
  border-radius: 2px;
  margin-top: 5px;
  overflow: hidden;
}
.players-carac .bar {
  width: 100%;
  height: 100%;
  background-color: aqua;
  border-radius: 2px;
  animation: width 0.3s ease 0.5s;
}

.players-img-container {
  /* width: 50%; */
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.players-img img {
  width: 200px;
  height: 300px;
}

.players-card .players-button button {
  width: 100px;
  height: 75px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
/* shake animation*/
.shake {
  animation: shake 0.3s ease 0.3s 2 normal none;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
/*pulse animation*/
.pulse {
  animation: pulse 1.5s ease 0.3s 1 normal none;
}
@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  /* 33% {
    opacity: 0.5;
  } */
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
